<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="unityCommon" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
		<section name="unityWorkSiteCom" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
		<section name="unityWorkSiteRest" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="coiConfiguration" type="Iphelion.Outline.Coi.Configuration.CoiConfigurationSection, Iphelion.Outline.Coi" />
		<section name="search" type="Iphelion.Outline.Core.Configuration.SearchConfigSection, Iphelion.Outline.Core" />
		<section name="templateLocations" type="Iphelion.Outline.Model.Configuration.TemplateLocationConfigSection, Iphelion.Outline.Model" />
		<section name="commands" type="Iphelion.Outline.Model.Configuration.CommandConfigSection, Iphelion.Outline.Model" />
		<section name="netDocuments" type="Iphelion.Outline.Integration.NetDocuments.Configuration.NetDocumentsConfigSection, Iphelion.Outline.Integration.NetDocuments" />
		<section name="workSite" type="Iphelion.Outline.Integration.WorkSite.Configuration.WorkSiteConfigSection, Iphelion.Outline.Integration.WorkSite" />
	</configSections>

	<connectionStrings configSource="SharedConnectionStrings.config" />
	<coiConfiguration configSource="SharedCoiSection.config" />
	<search configSource="SharedSearchSection.config" />
	<templateLocations configSource="SharedTemplateLocationsSection.config" />
	<unityCommon configSource="SharedPowerPointUnitySection.config" />
	<unityWorkSiteCom configSource="SharedUnityWorkSiteComSection.config" />
	<unityWorkSiteRest configSource="SharedUnityWorkSiteRestSection.config" />
	<netDocuments configSource="SharedNetDocumentsSection.config" />
	<workSite configSource="SharedWorkSiteSection.config" />
	<commands configSource="SharedCommandsSection.config" />
	<appSettings configSource="SharedAppSettings.config" />
	
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>

	<uri>
		<schemeSettings>
			<add name="http" genericUriParserOptions="DontUnescapePathDotsAndSlashes" />
		</schemeSettings>
	</uri>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Log Policy">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib" postHandlingAction="None">
						<exceptionHandlers>
							<add logCategory="Outline Error" eventId="100" severity="Error" title="Outline Exception" priority="0" formatterType="BigHand.DocumentCreation.Core.Logging.ExceptionFormatter, BigHand.DocumentCreation.Core.Logging" name="Logging Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" />
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>

	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="Outline Log">
		<listeners>
			<add name="Error Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="%APPDATA%\BigHand\BigHand Document Creation\Logs\powerpoint-bhdc.errors.log" rollFileExistsBehavior="Increment" rollInterval="None" header="" footer="" filter="Error" rollSizeKB="5000" maxArchivedFiles="20" formatter="Simple Text Formatter" />
			<add name="Full Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="%APPDATA%\BigHand\BigHand Document Creation\Logs\powerpoint-bhdc.full.log" rollFileExistsBehavior="Increment" rollInterval="Day" header="" footer="" rollSizeKB="5000" maxArchivedFiles="20" formatter="Simple Text Formatter" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="{timestamp(local:yyyy-MM-dd HH:mm:ss.fff)}{tab}{message}" name="Simple Text Formatter" />
		</formatters>
		<logFilters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging" enabled="true" name="Logging Enabled Filter" />
		</logFilters>
		<categorySources>
			<add switchValue="All" name="Outline Log">
				<listeners>
					<add name="Full Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="Outline Error">
				<listeners>
					<add name="Full Trace Listener" />
					<add name="Error Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events">
				<listeners>
					<!--<add name="Full Trace Listener"/>-->
				</listeners>
			</allEvents>
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<!--<add name="Full Trace Listener"/>-->
					<!--<add name="Error Trace Listener"/>-->
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<generatePublisherEvidence enabled="false" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Interception" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.10.0.0" newVersion="5.10.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.11.11.0" newVersion="5.11.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.42.1.0" newVersion="4.42.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.23.0.0" newVersion="1.23.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.WebView2.Core" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.1823.32" newVersion="1.0.1823.32" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.WebView2.Wpf" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.1823.32" newVersion="1.0.1823.32" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.16.0.0" newVersion="6.16.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.16.0.0" newVersion="6.16.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.16.0.0" newVersion="6.16.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.16.0.0" newVersion="6.16.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Graph.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BigHand.DocumentCreation.Core.Logging" publicKeyToken="null" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.5" newVersion="3.0.1.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Interop.IManExt" publicKeyToken="601623aa95e741f5" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="stdole" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.17.0.0" newVersion="4.17.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>	
</configuration>
