<?xml version="1.0" encoding="utf-8" ?>
<unityCommon>
  <alias alias="ContactListControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.ContactListViewModel, Iphelion.Outline.Controls" />
  <alias alias="LookupControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.LookupViewModel, Iphelion.Outline.Controls" />
  <alias alias="ReferenceControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.ReferenceViewModel, Iphelion.Outline.Controls" />
  <alias alias="DataFieldControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.DataFieldViewModel, Iphelion.Outline.Controls" />
  <alias alias="SalutationControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.SalutationViewModel, Iphelion.Outline.Controls" />
  <alias alias="WizardLabelControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.WizardLabelViewModel, Iphelion.Outline.Controls" />
  <alias alias="WizardSectionHeadingControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.WizardSectionHeadingViewModel, Iphelion.Outline.Controls" />
  <alias alias="MaskedTextBoxControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.MaskedTextBoxViewModel, Iphelion.Outline.Controls" />
  <alias alias="DropDownControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.DropDownViewModel, Iphelion.Outline.Controls" />
  <alias alias="NumericControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.NumericViewModel, Iphelion.Outline.Controls" />
  <alias alias="AddresseeControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.AddresseeViewModel, Iphelion.Outline.Controls" />
  <alias alias="MultipleAddressees" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.MultipleAddresseesViewModel, Iphelion.Outline.Controls" />
  <alias alias="AddresseeOptionsControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.AddresseeOptionsViewModel, Iphelion.Outline.Controls" />
  <alias alias="CheckBoxControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.CheckBoxViewModel, Iphelion.Outline.Controls" />
  <alias alias="DateControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.DateViewModel, Iphelion.Outline.Controls" />
  <alias alias="TextBoxControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.TextBoxViewModel, Iphelion.Outline.Controls" />
  <alias alias="SelectionListControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.SelectionListViewModel, Iphelion.Outline.Controls" />
  <alias alias="ImageListControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.ImageListViewModel, Iphelion.Outline.Controls" />
  <alias alias="SequenceControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.SequenceViewModel, Iphelion.Outline.Controls" />
  <alias alias="LineItemControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.LineItemViewModel, Iphelion.Outline.Controls" />
  <alias alias="BankDetailsControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.BankDetailsViewModel, Iphelion.Outline.Controls" />
  <alias alias="TimeEntryControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.TimeEntryViewModel, Iphelion.Outline.Controls" />
  <alias alias="EntityListControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.EntityListViewModel, Iphelion.Outline.Controls" />
  <alias alias="StackContainerControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.StackContainerControlViewModel, Iphelion.Outline.Controls" />
  <alias alias="LanguageListControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.LanguageListViewModel, Iphelion.Outline.Controls" />
  <alias alias="AuthorListControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.AuthorListViewModel, Iphelion.Outline.Controls" />
  <alias alias="DraftLineControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.DraftLineViewModel, Iphelion.Outline.Controls" />
  <alias alias="CourtSelectorControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.CourtSelectorViewModel, Iphelion.Outline.Controls" />  
  <alias alias="PartiesListControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.PartiesListViewModel, Iphelion.Outline.Controls" />
  <alias alias="AttorneyListControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.AttorneyListViewModel, Iphelion.Outline.Controls" />
  <alias alias="DmsDocumentListControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.DmsDocumentListViewModel, Iphelion.Outline.Controls" />
  <alias alias="ContentBankSelectorControl" type="Iphelion.Outline.Controls.QuestionControls.ViewModels.ContentBankSelectorViewModel, Iphelion.Outline.Controls" />
  <alias alias="OnePlaceLookupControl" type="BigHand.Outline.Integration.OnePlace.ViewModels.OnePlaceLookupViewModel, BigHand.Outline.Integration.OnePlace" />

  <alias alias="MatterLookupControl" type="Iphelion.Outline.Integration.Elite.MatterLookup, Iphelion.Outline.Integration.Elite" />
  <alias alias="WorkSiteSelectWorkSpaceControl" type="Iphelion.Outline.Integration.WorkSite.ViewModels.SelectWorkSpaceViewModel, Iphelion.Outline.Integration.WorkSite" />
  <alias alias="WorkSiteCustomFieldLookupControl" type="Iphelion.Outline.Integration.WorkSite.ViewModels.WorkSiteCustomFieldViewModel, Iphelion.Outline.Integration.WorkSite" />
  <alias alias="ProjectLookupControl" type="Iphelion.Outline.Integration.InterAction.QuestionControls.ViewModels.ProjectLookupViewModel, Iphelion.Outline.Integration.InterAction" />
  <alias alias="AuthorLookupControl" type="Iphelion.Outline.Integration.InterAction.QuestionControls.ViewModels.AuthorLookupViewModel, Iphelion.Outline.Integration.InterAction" />
  <alias alias="ProjectRoleFieldLookupControl" type="Iphelion.Outline.Integration.InterAction.QuestionControls.ViewModels.ProjectRoleFieldLookupViewModel, Iphelion.Outline.Integration.InterAction" />
  <alias alias="NetDocumentsSelectWorkspaceControl" type="Iphelion.Outline.Integration.NetDocuments.ViewModels.SelectWorkspaceViewModel, Iphelion.Outline.Integration.NetDocuments" />

  <alias alias="MatterListControl" type="Iphelion.Outline.Integration.PitchPoint.ViewModels.MatterListViewModel, Iphelion.Outline.Integration.PitchPoint" />
  <alias alias="PitchListControl" type="Iphelion.Outline.Integration.PitchPoint.ViewModels.PitchListViewModel, Iphelion.Outline.Integration.PitchPoint" />
  <alias alias="FeeEarnerListControl" type="Iphelion.Outline.Integration.PitchPoint.ViewModels.FeeEarnerListViewModel, Iphelion.Outline.Integration.PitchPoint" />
  <alias alias="PracticeAreaListControl" type="Iphelion.Outline.Integration.PitchPoint.ViewModels.PracticeAreaListViewModel, Iphelion.Outline.Integration.PitchPoint" />
  <alias alias="AwardListControl" type="Iphelion.Outline.Integration.PitchPoint.ViewModels.AwardListViewModel, Iphelion.Outline.Integration.PitchPoint" />
  <alias alias="TestimonialsListControl" type="Iphelion.Outline.Integration.PitchPoint.ViewModels.TestimonialsListViewModel, Iphelion.Outline.Integration.PitchPoint" />
  <alias alias="BiographyListControl" type="Iphelion.Outline.Integration.PitchPoint.ViewModels.BiographyListViewModel, Iphelion.Outline.Integration.PitchPoint" />
  <alias alias="ContentListControl" type="Iphelion.Outline.Integration.PitchPoint.ViewModels.ContentListViewModel, Iphelion.Outline.Integration.PitchPoint" />
  <alias alias="CaseStudyListControl" type="Iphelion.Outline.Integration.PitchPoint.ViewModels.CaseStudyListViewModel, Iphelion.Outline.Integration.PitchPoint" />

  <alias alias="RenderDocumentCommand" type="Iphelion.Outline.Model.Commands.RenderDocumentCommand, Iphelion.Outline.Model" />
  <alias alias="ShowFormCommand" type="Iphelion.Outline.Model.Commands.ShowFormCommand, Iphelion.Outline.Model" />
  <alias alias="QuestionVisibilityCommand" type="Iphelion.Outline.Model.Commands.QuestionVisibilityCommand, Iphelion.Outline.Model" />
  <alias alias="RenderFragmentCommand" type="Iphelion.Outline.Model.Commands.RenderFragmentCommand, Iphelion.Outline.Model" />
  <alias alias="SetFieldValueCommand" type="Iphelion.Outline.Model.Commands.SetFieldValueCommand, Iphelion.Outline.Model" />
  <alias alias="RunDataConnector" type="Iphelion.Outline.Model.Commands.RunDataConnector, Iphelion.Outline.Model" />
  <alias alias="RunSearchConnector" type="Iphelion.Outline.Model.Commands.RunSearchConnector, Iphelion.Outline.Model" />
  <alias alias="ClosePresentationCommand" type="Iphelion.Outline.PowerPoint.Commands.ClosePresentationCommand, Iphelion.Outline.PowerPoint" />
  <alias alias="RunMacroCommand" type="Iphelion.Outline.PowerPoint.Commands.RunMacroCommand, Iphelion.Outline.PowerPoint" />
  <alias alias="SetThemeCommand" type="Iphelion.Outline.PowerPoint.Commands.SetThemeCommand, Iphelion.Outline.PowerPoint" />
  <alias alias="DeleteSlideCommand" type="Iphelion.Outline.PowerPoint.Commands.DeleteSlideCommand, Iphelion.Outline.PowerPoint" />
  <alias alias="LaunchUrlCommand" type="Iphelion.Outline.Model.Commands.LaunchUrlCommand, Iphelion.Outline.Model" />
  <alias alias="LaunchWizardPaneCommand" type="Iphelion.Outline.Model.Commands.LaunchWizardPaneCommand, Iphelion.Outline.Model" />
  <alias alias="InsertImageCommand" type="Iphelion.Outline.Model.Commands.InsertImageCommand, Iphelion.Outline.Model" />
  <alias alias="RenderCoiFieldsCommand" type="Iphelion.Outline.Model.Commands.RenderCoiFieldsCommand, Iphelion.Outline.Model" />
  <alias alias="SetProofingLanguageCommand" type="Iphelion.Outline.PowerPoint.Commands.SetProofingLanguageCommand, Iphelion.Outline.PowerPoint" />
  <alias alias="DraftLineCommand" type="Iphelion.Outline.Model.Commands.DraftLineCommand, Iphelion.Outline.Model" />
  <alias alias="CreateDocumentCommand" type="Iphelion.Outline.Model.Commands.CreateDocumentCommand, Iphelion.Outline.Model" />
  <alias alias="SaveToFileSystemCommand" type="Iphelion.Outline.Model.Commands.SaveToFileSystemCommand, Iphelion.Outline.Model" />
  <alias alias="CheckForTemplateUpdateCommand" type="Iphelion.Outline.Model.Commands.CheckForTemplateUpdateCommand, Iphelion.Outline.Model" />
  <alias alias="DownloadFromContentBankCommand" type="Iphelion.Outline.Model.Commands.DownloadFromContentBankCommand, Iphelion.Outline.Model" />
  
  <alias alias="NetDocumentsStartupCommand" type="Iphelion.Outline.Integration.NetDocuments.Commands.StartupCommand, Iphelion.Outline.Integration.NetDocuments" />
  <alias alias="NetDocumentsInsertDmsReferenceCommand" type="Iphelion.Outline.Integration.NetDocuments.Commands.InsertDmsReferenceCommand, Iphelion.Outline.Integration.NetDocuments" />
  <alias alias="SaveToNetDocsCommand" type="Iphelion.Outline.Integration.NetDocuments.Commands.SaveToDmsCommand, Iphelion.Outline.Integration.NetDocuments" />
  <alias alias="NetDocumentsUpdateAuthorCommand" type="Iphelion.Outline.Integration.NetDocuments.Commands.UpdateAuthorCommand, Iphelion.Outline.Integration.NetDocuments" />
  <alias alias="NetDocumentsOpenDocumentCommand" type="Iphelion.Outline.Integration.NetDocuments.Commands.OpenDocumentCommand, Iphelion.Outline.Integration.NetDocuments" />
  <alias alias="NetDocumentsEditProfileCommand" type="Iphelion.Outline.Integration.NetDocuments.Commands.EditProfileCommand, Iphelion.Outline.Integration.NetDocuments" />
  <alias alias="NetDocumentsDownloadDocumentCommand" type="Iphelion.Outline.Integration.NetDocuments.Commands.DownloadDocumentCommand, Iphelion.Outline.Integration.NetDocuments" />
  <alias alias="AddContactActivityCommand" type="Iphelion.Outline.Integration.InterAction.Commands.AddContactActivityCommand, Iphelion.Outline.Integration.InterAction" />
  <alias alias="CreatePitchRecordCommand" type="Iphelion.Outline.Integration.PitchPoint.Commands.CreatePitchRecordCommand, Iphelion.Outline.Integration.PitchPoint" />
  <alias alias="SendEmailCommand" type="Iphelion.Outline.Integration.Outlook.Commands.SendEmailCommand, Iphelion.Outline.Integration.Outlook" />
  <alias alias="DocumentSearchCommand" type="Iphelion.Outline.Integration.PitchPoint.Commands.DocumentSearchCommand, Iphelion.Outline.Integration.PitchPoint" />

  <alias alias="TextRenderer" type="Iphelion.Outline.PowerPoint.Renderers.TextRenderer, Iphelion.Outline.PowerPoint" />
  <alias alias="ChartRenderer" type="Iphelion.Outline.PowerPoint.Renderers.ChartRenderer, Iphelion.Outline.PowerPoint" />
  <alias alias="ImageRenderer" type="Iphelion.Outline.PowerPoint.Renderers.ImageRenderer, Iphelion.Outline.PowerPoint" />
  <alias alias="SlideRepeaterRenderer" type="Iphelion.Outline.PowerPoint.Renderers.SlideRepeaterRenderer, Iphelion.Outline.PowerPoint" />
  <alias alias="EmbeddedVideoRenderer" type="Iphelion.Outline.PowerPoint.Renderers.EmbeddedVideoRenderer, Iphelion.Outline.PowerPoint" />
  <alias alias="ExternalShapeRenderer" type="Iphelion.Outline.PowerPoint.Renderers.ExternalShapeRenderer, Iphelion.Outline.PowerPoint" />
  <alias alias="XmlFormattedTextRenderer" type="Iphelion.Outline.PowerPoint.Renderers.XmlFormattedTextRenderer, Iphelion.Outline.PowerPoint" />
  <alias alias="DelimitedListRenderer" type="Iphelion.Outline.PowerPoint.Renderers.DelimitedListRenderer, Iphelion.Outline.PowerPoint" />
  <alias alias="SlideBackgroundRenderer" type="Iphelion.Outline.PowerPoint.Renderers.SlideBackgroundRenderer, Iphelion.Outline.PowerPoint" />

  <alias alias="SqlConnector" type="Iphelion.Outline.DataConnector.Sql.SqlConnector, Iphelion.Outline.DataConnector.Sql" />
  <alias alias="WebServiceConnector" type="Iphelion.Outline.DataConnector.WebService.WebServiceConnector, Iphelion.Outline.DataConnector.WebService" />
 
  <alias alias="DefaultFormatter" type="Iphelion.Outline.Model.ReferenceFormatters.DefaultFormatter, Iphelion.Outline.Model" />

  <alias alias="IQuestionControl" type="Iphelion.Outline.Model.Interfaces.IQuestionControl, Iphelion.Outline.Model" />
  <alias alias="ICommandAction" type="Iphelion.Outline.Model.Interfaces.ICommandAction, Iphelion.Outline.Model" />
  <alias alias="IDocumentRenderer" type="Iphelion.Outline.Model.Interfaces.IDocumentRenderer, Iphelion.Outline.Model" />
  <alias alias="IDataConnector" type="Iphelion.Outline.Coi.Interfaces.IDataConnector, Iphelion.Outline.Coi" />
  <alias alias="IReferenceFormatter" type="Iphelion.Outline.Model.Interfaces.IReferenceFormatter, Iphelion.Outline.Model" />
  <containers>
    <container>
      <register type="IQuestionControl" mapTo="MultipleAddressees" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.MultipleAddresseesViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="AddresseeOptionsControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.AddresseeOptionsViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="AddresseeControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.AddresseeViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="CheckBoxControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.CheckBoxViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="ContactListControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.ContactListViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="DataFieldControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.DataFieldViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="DateControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.DateViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="DropDownControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.DropDownViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="LookupControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.LookupViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="MaskedTextBoxControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.MaskedTextBoxViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="NumericControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.NumericViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="ReferenceControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.ReferenceViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="SalutationControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.SalutationViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="TextBoxControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.TextBoxViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="WizardLabelControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.WizardLabelViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="WizardSectionHeadingControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.WizardSectionHeadingViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="SelectionListControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.SelectionListViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="ImageListControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.ImageListViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="SequenceControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.SequenceViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="LineItemControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.LineItemViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="BankDetailsControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.BankDetailsViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="TimeEntryControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.TimeEntryViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="EntityListControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.EntityListViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="StackContainerControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.StackContainerControlViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="LanguageListControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.LanguageListViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="AuthorListControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.AuthorListViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="DraftLineControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.DraftLineViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="CourtSelectorControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.CourtSelectorViewModel|Iphelion.Outline.Controls" />    
      <register type="IQuestionControl" mapTo="PartiesListControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.PartiesListViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="AttorneyListControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.AttorneyListViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="DmsDocumentListControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.DmsDocumentListViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="ContentBankSelectorControl" name="Iphelion.Outline.Controls.QuestionControls.ViewModels.ContentBankSelectorViewModel|Iphelion.Outline.Controls" />
      <register type="IQuestionControl" mapTo="OnePlaceLookupControl" name="BigHand.Outline.Integration.OnePlace.ViewModels.OnePlaceLookupViewModel|BigHand.Outline.Integration.OnePlace" />

      <register type="IQuestionControl" mapTo="MatterLookupControl" name="Iphelion.Outline.Integration.Elite.MatterLookup|Iphelion.Outline.Integration.Elite" />
      <register type="IQuestionControl" mapTo="WorkSiteSelectWorkSpaceControl" name="Iphelion.Outline.Integration.WorkSite.ViewModels.SelectWorkSpaceViewModel|Iphelion.Outline.Integration.WorkSite" />
      <register type="IQuestionControl" mapTo="WorkSiteSelectWorkSpaceControl" name="Iphelion.Outline.Integration.WorkSite.SelectWorkSpaceControl|Iphelion.Outline.Integration.WorkSite" />
      <register type="IQuestionControl" mapTo="WorkSiteCustomFieldLookupControl" name="Iphelion.Outline.Integration.WorkSite.ViewModels.WorkSiteCustomFieldViewModel|Iphelion.Outline.Integration.WorkSite" />
      <register type="IQuestionControl" mapTo="ProjectLookupControl" name="Iphelion.Outline.Integration.InterAction.QuestionControls.ViewModels.ProjectLookupViewModel|Iphelion.Outline.Integration.InterAction" />
      <register type="IQuestionControl" mapTo="AuthorLookupControl" name="Iphelion.Outline.Integration.InterAction.QuestionControls.ViewModels.AuthorLookupViewModel|Iphelion.Outline.Integration.InterAction" />
      <register type="IQuestionControl" mapTo="ProjectRoleFieldLookupControl" name="Iphelion.Outline.Integration.InterAction.QuestionControls.ViewModels.ProjectRoleFieldLookupViewModel|Iphelion.Outline.Integration.InterAction" />
      <register type="IQuestionControl" mapTo="NetDocumentsSelectWorkspaceControl" name="Iphelion.Outline.Integration.NetDocuments.ViewModels.SelectWorkspaceViewModel|Iphelion.Outline.Integration.NetDocuments" />

      <register type="IQuestionControl" mapTo="MatterListControl" name="Iphelion.Outline.Integration.PitchPoint.ViewModels.MatterListViewModel|Iphelion.Outline.Integration.PitchPoint" />
      <register type="IQuestionControl" mapTo="PitchListControl" name="Iphelion.Outline.Integration.PitchPoint.ViewModels.PitchListViewModel|Iphelion.Outline.Integration.PitchPoint" />
      <register type="IQuestionControl" mapTo="FeeEarnerListControl" name="Iphelion.Outline.Integration.PitchPoint.ViewModels.FeeEarnerListViewModel|Iphelion.Outline.Integration.PitchPoint" />
      <register type="IQuestionControl" mapTo="PracticeAreaListControl" name="Iphelion.Outline.Integration.PitchPoint.ViewModels.PracticeAreaListViewModel|Iphelion.Outline.Integration.PitchPoint" />
      <register type="IQuestionControl" mapTo="AwardListControl" name="Iphelion.Outline.Integration.PitchPoint.ViewModels.AwardListViewModel|Iphelion.Outline.Integration.PitchPoint" />
      <register type="IQuestionControl" mapTo="TestimonialsListControl" name="Iphelion.Outline.Integration.PitchPoint.ViewModels.TestimonialsListViewModel|Iphelion.Outline.Integration.PitchPoint" />
      <register type="IQuestionControl" mapTo="BiographyListControl" name="Iphelion.Outline.Integration.PitchPoint.ViewModels.BiographyListViewModel|Iphelion.Outline.Integration.PitchPoint" />
      <register type="IQuestionControl" mapTo="ContentListControl" name="Iphelion.Outline.Integration.PitchPoint.ViewModels.ContentListViewModel|Iphelion.Outline.Integration.PitchPoint" />
      <register type="IQuestionControl" mapTo="CaseStudyListControl" name="Iphelion.Outline.Integration.PitchPoint.ViewModels.CaseStudyListViewModel|Iphelion.Outline.Integration.PitchPoint" />

      <register type="ICommandAction" mapTo="RenderDocumentCommand" name="Iphelion.Outline.Model.Commands.RenderDocumentCommand|Iphelion.Outline.Model" />
      <register type="ICommandAction" mapTo="ShowFormCommand" name="Iphelion.Outline.Model.Commands.ShowFormCommand|Iphelion.Outline.Model" />  
      <register type="ICommandAction" mapTo="QuestionVisibilityCommand" name="Iphelion.Outline.Model.Commands.QuestionVisibilityCommand|Iphelion.Outline.Model" />      
      <register type="ICommandAction" mapTo="RenderFragmentCommand" name="Iphelion.Outline.Model.Commands.RenderFragmentCommand|Iphelion.Outline.Model" />      
      <register type="ICommandAction" mapTo="SetFieldValueCommand" name="Iphelion.Outline.Model.Commands.SetFieldValueCommand|Iphelion.Outline.Model" />
      <register type="ICommandAction" mapTo="RunDataConnector" name="Iphelion.Outline.Model.Commands.RunDataConnector|Iphelion.Outline.Model" />
      <register type="ICommandAction" mapTo="RunSearchConnector" name="Iphelion.Outline.Model.Commands.RunSearchConnector|Iphelion.Outline.Model" />
      <register type="ICommandAction" mapTo="ClosePresentationCommand" name="Iphelion.Outline.PowerPoint.Commands.ClosePresentationCommand|Iphelion.Outline.PowerPoint" />
      <register type="ICommandAction" mapTo="ClosePresentationCommand" name="Iphelion.Outline.Word.Commands.CloseDocumentCommand|Iphelion.Outline.Word" />
      <register type="ICommandAction" mapTo="RunMacroCommand" name="Iphelion.Outline.PowerPoint.Commands.RunMacroCommand|Iphelion.Outline.PowerPoint" />
      <register type="ICommandAction" mapTo="SetThemeCommand" name="Iphelion.Outline.PowerPoint.Commands.SetThemeCommand|Iphelion.Outline.PowerPoint" />
      <register type="ICommandAction" mapTo="DeleteSlideCommand" name="Iphelion.Outline.PowerPoint.Commands.DeleteSlideCommand|Iphelion.Outline.PowerPoint" />
      <register type="ICommandAction" mapTo="DeleteSlideCommand" name="Iphelion.Outline.Word.Commands.DeleteRangeCommand|Iphelion.Outline.Word" />
      <register type="ICommandAction" mapTo="LaunchUrlCommand" name="Iphelion.Outline.Model.Commands.LaunchUrlCommand|Iphelion.Outline.Model" />
      <register type="ICommandAction" mapTo="LaunchWizardPaneCommand" name="Iphelion.Outline.Model.Commands.LaunchWizardPaneCommand|Iphelion.Outline.Model" />
      <register type="ICommandAction" mapTo="InsertImageCommand" name="Iphelion.Outline.Model.Commands.InsertImageCommand|Iphelion.Outline.Model" />
      <register type="ICommandAction" mapTo="RenderCoiFieldsCommand" name="Iphelion.Outline.Model.Commands.RenderCoiFieldsCommand|Iphelion.Outline.Model" />
      <register type="ICommandAction" mapTo="SetProofingLanguageCommand" name="Iphelion.Outline.PowerPoint.Commands.SetProofingLanguageCommand|Iphelion.Outline.PowerPoint" />
      <register type="ICommandAction" mapTo="DraftLineCommand" name="Iphelion.Outline.Model.Commands.DraftLineCommand|Iphelion.Outline.Model" />
      <register type="ICommandAction" mapTo="CreateDocumentCommand" name="Iphelion.Outline.Model.Commands.CreateDocumentCommand|Iphelion.Outline.Model" />
      <register type="ICommandAction" mapTo="SaveToFileSystemCommand" name="Iphelion.Outline.Model.Commands.SaveToFileSystemCommand|Iphelion.Outline.Model" />
      <register type="ICommandAction" mapTo="CheckForTemplateUpdateCommand" name="Iphelion.Outline.Model.Commands.CheckForTemplateUpdateCommand|Iphelion.Outline.Model" />
      <register type="ICommandAction" mapTo="DownloadFromContentBankCommand" name="Iphelion.Outline.Model.Commands.DownloadFromContentBankCommand|Iphelion.Outline.Model" />
      
      <register type="ICommandAction" mapTo="NetDocumentsStartupCommand" name="Iphelion.Outline.Integration.NetDocuments.Commands.StartupCommand|Iphelion.Outline.Integration.NetDocuments" />
      <register type="ICommandAction" mapTo="NetDocumentsInsertDmsReferenceCommand" name="Iphelion.Outline.Integration.NetDocuments.Commands.InsertDmsReferenceCommand|Iphelion.Outline.Integration.NetDocuments" />
      <register type="ICommandAction" mapTo="SaveToNetDocsCommand" name="Iphelion.Outline.Integration.NetDocuments.Commands.SaveToDmsCommand|Iphelion.Outline.Integration.NetDocuments" />
      <register type="ICommandAction" mapTo="NetDocumentsUpdateAuthorCommand" name="Iphelion.Outline.Integration.NetDocuments.Commands.UpdateAuthorCommand|Iphelion.Outline.Integration.NetDocuments" />
      <register type="ICommandAction" mapTo="NetDocumentsOpenDocumentCommand" name="Iphelion.Outline.Integration.NetDocuments.Commands.OpenDocumentCommand|Iphelion.Outline.Integration.NetDocuments" />
      <register type="ICommandAction" mapTo="NetDocumentsEditProfileCommand" name="Iphelion.Outline.Integration.NetDocuments.Commands.EditProfileCommand|Iphelion.Outline.Integration.NetDocuments" />
      <register type="ICommandAction" mapTo="NetDocumentsDownloadDocumentCommand" name="Iphelion.Outline.Integration.NetDocuments.Commands.DownloadDocumentCommand|Iphelion.Outline.Integration.NetDocuments" />
      <register type="ICommandAction" mapTo="AddContactActivityCommand" name="Iphelion.Outline.Integration.InterAction.Commands.AddContactActivityCommand|Iphelion.Outline.Integration.InterAction" />
      <register type="ICommandAction" mapTo="CreatePitchRecordCommand" name="Iphelion.Outline.Integration.PitchPoint.Commands.CreatePitchRecordCommand|Iphelion.Outline.Integration.PitchPoint" />
      <register type="ICommandAction" mapTo="SendEmailCommand" name="Iphelion.Outline.Integration.Outlook.Commands.SendEmailCommand|Iphelion.Outline.Integration.Outlook" />
      <register type="ICommandAction" mapTo="DocumentSearchCommand" name="Iphelion.Outline.Integration.PitchPoint.Commands.DocumentSearchCommand|Iphelion.Outline.Integration.PitchPoint" />

      <register type="IDocumentRenderer" mapTo="TextRenderer" name="Iphelion.Outline.Word.Renderers.TextRenderer|Iphelion.Outline.Word" />
      <register type="IDocumentRenderer" mapTo="ImageRenderer" name="Iphelion.Outline.Word.Renderers.ImageRenderer|Iphelion.Outline.Word" />
      <register type="IDocumentRenderer" mapTo="SlideRepeaterRenderer" name="Iphelion.Outline.Word.Renderers.BuildingBlockRenderer|Iphelion.Outline.Word" />
      <register type="IDocumentRenderer" mapTo="DelimitedListRenderer" name="Iphelion.Outline.Word.Renderers.DelimitedListRenderer|Iphelion.Outline.Word" />

      <register type="IDocumentRenderer" mapTo="TextRenderer" name="Iphelion.Outline.PowerPoint.Renderers.TextRenderer|Iphelion.Outline.PowerPoint" />
      <register type="IDocumentRenderer" mapTo="ImageRenderer" name="Iphelion.Outline.PowerPoint.Renderers.ImageRenderer|Iphelion.Outline.PowerPoint" />
	  <register type="IDocumentRenderer" mapTo="ChartRenderer" name="Iphelion.Outline.PowerPoint.Renderers.ChartRenderer|Iphelion.Outline.PowerPoint" />
      <register type="IDocumentRenderer" mapTo="SlideRepeaterRenderer" name="Iphelion.Outline.PowerPoint.Renderers.SlideRepeaterRenderer|Iphelion.Outline.PowerPoint" />
      <register type="IDocumentRenderer" mapTo="EmbeddedVideoRenderer" name="Iphelion.Outline.PowerPoint.Renderers.EmbeddedVideoRenderer|Iphelion.Outline.PowerPoint" />
      <register type="IDocumentRenderer" mapTo="ExternalShapeRenderer" name="Iphelion.Outline.PowerPoint.Renderers.ExternalShapeRenderer|Iphelion.Outline.PowerPoint" />
      <register type="IDocumentRenderer" mapTo="XmlFormattedTextRenderer" name="Iphelion.Outline.PowerPoint.Renderers.XmlFormattedTextRenderer|Iphelion.Outline.PowerPoint" />
      <register type="IDocumentRenderer" mapTo="DelimitedListRenderer" name="Iphelion.Outline.PowerPoint.Renderers.DelimitedListRenderer|Iphelion.Outline.PowerPoint" />
      <register type="IDocumentRenderer" mapTo="SlideBackgroundRenderer" name="Iphelion.Outline.PowerPoint.Renderers.SlideBackgroundRenderer|Iphelion.Outline.PowerPoint" />

      <register type="IDataConnector" mapTo="SqlConnector" name="Iphelion.Outline.DataConnector.Sql.SqlConnector|Iphelion.Outline.DataConnector.Sql" />
      <register type="IDataConnector" mapTo="WebServiceConnector" name="Iphelion.Outline.DataConnector.WebService.WebServiceConnector|Iphelion.Outline.DataConnector.WebService" />

      <register type="IReferenceFormatter" mapTo="DefaultFormatter" />
    </container>
  </containers>
</unityCommon>