<?xml version="1.0" encoding="utf-8"?>
<commands>
	<autoexec>
		<command key="WorkSiteStartupCommand" order="1" commandType="StartUp" assembly="Iphelion.Outline.Integration.WorkSite.dll" typeName="Iphelion.Outline.Integration.WorkSite.StartupCommand">
			<parameters></parameters>
		</command>
		<!--<command key="NetDocumentsStartupCommand" order="1" commandType="StartUp" assembly="Iphelion.Outline.Integration.NetDocuments.dll" typeName="Iphelion.Outline.Integration.NetDocuments.Commands.StartupCommand">
				<parameters></parameters>
			</command>-->
		<!--<command key="CheckForTemplateUpdateCommand" order="2" commandType="StartUp" assembly="Iphelion.Outline.Model.dll" typeName="Iphelion.Outline.Model.Commands.CheckForTemplateUpdateCommand">
			<parameters>
				<parameter key="templateTitle" value="" />
				<parameter key="coiTitle" value="" />
				<parameter key="templateGuidanceText" value="" />
				<parameter key="coiGuidanceText" value="" />
				<parameter key="useLabels" value="false" />
				<parameter key="useBoldTitles" value="false" />
				<parameter key="helpUrl" value="" />
				<parameter key="helpUrlText" value="" />
			</parameters>
		</command>-->
	</autoexec>
	<ribbon>
		<!--<command key="insertDmsIdNetDocs" order="1" commandType="Custom1" assembly="Iphelion.Outline.Integration.NetDocuments.dll" typeName="Iphelion.Outline.Integration.NetDocuments.Commands.InsertDmsReferenceCommand">
				<parameters>
					<parameter key="docIdFormat" value="{DocNumber:$VAL$.}{DocVersion}" />
				</parameters>
		</command>-->
		<command key="insertDmsId" order="1" commandType="Custom1" assembly="Iphelion.Outline.Integration.WorkSite.dll" typeName="Iphelion.Outline.Integration.WorkSite.InsertDmsReferenceCommand">
			<parameters>
				<parameter key="docIdFormat" value="{Library:$VAL$\}{DocNumber:$VAL$.}{DocVersion}" />
			</parameters>
		</command>
		<!--<command key="insertDmsIdFooter" order="1" commandType="Custom1" assembly="Iphelion.Outline.Integration.WorkSite.dll" typeName="Iphelion.Outline.Integration.WorkSite.InsertDmsReferenceFooterCommand">
				<parameters>
					<parameter key="docIdFormat" value="{Library:$VAL$\}{DocNumber:$VAL$.}{DocVersion}" />
				</parameters>
			</command>-->
		<!--<command key="openDmsDocument" order="1" commandType="Custom1" assembly="Iphelion.Outline.Integration.WorkSite.dll" typeName="Iphelion.Outline.Integration.WorkSite.Commands.OpenDocumentCommand">
				<parameters />
			</command>-->
		<!--<command key="editDmsProfile" order="1" commandType="Custom1" assembly="Iphelion.Outline.Integration.WorkSite.dll" typeName="Iphelion.Outline.Integration.WorkSite.Commands.EditProfileCommand">
				<parameters />
			</command>-->
		<command key="insertFormattedDate" order="1" commandType="Custom1" assembly="Iphelion.Outline.Word.dll" typeName="Iphelion.Outline.Word.Commands.RenderSingleFieldCommand">
			<parameters>
				<parameter key="entityName" value="System Fields" />
				<parameter key="fieldName" value="Current Date and Time" />
				<parameter key="format" value="d MMMM yyyy" />
			</parameters>
		</command>
		<command key="updateDraftLine" order="1" commandType="Custom1" assembly="Iphelion.Outline.Model.dll" typeName="Iphelion.Outline.Model.Commands.DraftLineCommand">
			<parameters>
				<parameter key="removeDraftNumber" value="false" />
			</parameters>
		</command>
		<command key="removeDraftLine" order="1" commandType="Custom1" assembly="Iphelion.Outline.Model.dll" typeName="Iphelion.Outline.Model.Commands.DraftLineCommand">
			<parameters>
				<parameter key="removeDraftNumber" value="true" />
			</parameters>
		</command>
	<command key="updateClauseContent" order="1" commandType="Custom1" assembly="Iphelion.Outline.Word.dll" typeName="Iphelion.Outline.Word.Commands.UpdateClauseContentCommand">
	  <parameters>
		<parameter key="showWarning" value="false"/>
	  </parameters>
	</command>

	<command key="acceptToken" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.AcceptTokenCommand">
	  <parameters/>
	</command>
	<command key="declineToken" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.DeclineTokenCommand">
	  <parameters/>
	</command>
	<command key="goToNextToken" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.GoToTokenCommand">
	  <parameters>
		<parameter key="direction" value="Forward" />
	  </parameters>
	</command>
	<command key="goToPreviousToken" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.GoToTokenCommand">
	  <parameters>
		<parameter key="direction" value="Backward" />
	  </parameters>
	</command>
	<command key="highlightTokens" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.HighlightTokenCommand">
	  <parameters/>
	</command>
	<command key="selectChoice1" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.SelectChoiceCommand">
	  <parameters>
		<parameter key="index" value="1" />
	  </parameters>
	</command>
	<command key="selectChoice2" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.SelectChoiceCommand">
	  <parameters>
		<parameter key="index" value="2" />
	  </parameters>
	</command>
	<command key="selectChoice3" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.SelectChoiceCommand">
	  <parameters>
		<parameter key="index" value="3" />
	  </parameters>
	</command>
	<command key="selectChoice4" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.SelectChoiceCommand">
	  <parameters>
		<parameter key="index" value="4" />
	  </parameters>
	</command>
	<command key="selectChoice5" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.SelectChoiceCommand">
	  <parameters>
		<parameter key="index" value="5" />
	  </parameters>
	</command>
	<command key="selectChoice6" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.SelectChoiceCommand">
	  <parameters>
		<parameter key="index" value="6" />
	  </parameters>
	</command>
	<command key="selectChoice7" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.SelectChoiceCommand">
	  <parameters>
		<parameter key="index" value="7" />
	  </parameters>
	</command>
	<command key="selectChoice8" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.SelectChoiceCommand">
	  <parameters>
		<parameter key="index" value="8" />
	  </parameters>
	</command>
	<command key="selectChoice9" order="1" commandType="Custom1" assembly="BigHand.Outline.PrecedentAutomation.dll" typeName="BigHand.Outline.PrecedentAutomation.Commands.SelectChoiceCommand">
	  <parameters>
		<parameter key="index" value="9" />
	  </parameters>
	</command>
	</ribbon>
</commands>