<?xml version="1.0" encoding="utf-8"?>
<search>
  <adSearchConnector>
    <ldapSettings useRoot="true" path="" pathFilter="" filter="(&amp;(objectClass=user)(objectCategory=person)(sn={0}*)(!(userAccountControl:1.2.840.113556.1.4.803:=2)){1})" maxResults="50"/>
    <accountProperty name="sAMAccountName" format="None" include="true"/>
    <firstnameProperty name="givenName" format="None" include="true"/>
    <surnameProperty name="sn" format="None" include="true"/>
    <roleProperty name="title" format="None" include="true"/>
    <departmentProperty name="department" format="None" include="true"/>
    <phoneNumberProperty name="telephoneNumber" format="None" include="true"/>
    <alternativeNumberProperty name="mobile" format="None" include="true"/>
    <faxNumberProperty name="facsimileTelephoneNumber" format="None" include="true"/>
    <emailProperty name="mail" format="Lowercase" include="true"/>
    <employeeIdProperty name="" format="None" include="false"/>
    <officeProperty name="physicalDeliveryOfficeName" format="None" include="true"/>
    <initialsProperty name="initials" format="None" include="true"/>
    <titleProperty name="personalTitle" format="None" include="true"/>
    <middleNameProperty name="middleName" format="None" include="true"/>
    <companyProperty name="company" format="None" include="true"/>
    <addressProperty name="streetAddress|l|st|postalCode" format="None" include="true"/>
    <countryProperty name="co" format="None" include="true"/>
    <barRegistrationProperty name="" format="None" include="false"/>
  </adSearchConnector>

  <azureAdSearchConnector>
	  <azureSettings clientId="" tenantId="" redirectUrl="" scope=""/>
	  <accountProperty mapFrom="userPrincipalName"/>
	  <!-- <accountProperty mapFrom="onPremisesSamAccountName"/> -->
	  <fullNameProperty mapFrom="displayName"/>
	  <firstnameProperty mapFrom="givenName"/>
	  <surnameProperty mapFrom="surname"/>
	  <roleProperty mapFrom="jobTitle"/>
	  <departmentProperty mapFrom="department"/>
	  <phoneNumberProperty mapFrom="businessPhones"/>
	  <alternativeNumberProperty mapFrom="mobilePhone"/>
	  <faxNumberProperty mapFrom="faxNumber"/>
	  <emailProperty mapFrom="mail"/>
	  <employeeIdProperty mapFrom="employeeId"/>
	  <officeProperty mapFrom="officeLocation"/>
	  <initialsProperty mapFrom=""/>
	  <titleProperty mapFrom=""/>
	  <middleNameProperty mapFrom=""/>
	  <companyProperty mapFrom="companyName"/>
	  <addressProperty mapFrom="address"/>
	  <countryProperty mapFrom="country"/>
	  <barRegistrationProperty mapFrom=""/>
  </azureAdSearchConnector>

  <ausPostSearchConnector>
    <ausPostSettings url="" apiKey=""/>
  </ausPostSearchConnector>

  <!-- the contact connector used when creating authors -->
  <authorConnectors>
    <connector id="AD" assembly="Iphelion.Outline.Controls.dll" typeName="Iphelion.Outline.Controls.Search.ActiveDirectoryContactSearch"/>
    <!--<connector id="AZURE" assembly="BigHand.Outline.Integration.Azure.dll" typeName="BigHand.Outline.Integration.Azure.AzureAdContactSearch"/>-->
    <!--<connector id="WORKSITE" assembly="Iphelion.Outline.Integration.WorkSite.dll" typeName="Iphelion.Outline.Integration.WorkSite.WorkSiteUserSearch"/>-->
    <!--<connector id="OUTLOOK" assembly="Iphelion.Outline.Integration.Outlook.dll" typeName="Iphelion.Outline.Integration.Outlook.OutlookContactSearch" />-->
  </authorConnectors>

  <coiSystemConnectors>
    <connector id="DIRECTORYENTRY" assembly="Iphelion.Outline.Core.dll" typeName="Iphelion.Outline.Core.Connectors.DirectoryEntryContactSearchConnector"/>
  </coiSystemConnectors>

  <!-- The contact lookup connector used in the wizards (address controls)-->
  <wizardConnectors>
    <!--<connector id="IAREST" 
	    assembly="Iphelion.Outline.Integration.InterAction.dll" 
		typeName="Iphelion.Outline.Integration.InterAction.InterActionRestContactSearch" >
		<parameters>
			<parameter key="DoNotIncludeCompanyFieldForNonBusinessAddressesEnabled" value="false" />
		</parameters>
	</connector>-->
    <!--<connector id="IACOM" assembly="Iphelion.Outline.Integration.InterAction.dll" typeName="Iphelion.Outline.Integration.InterAction.InterActionContactSearch"
               paramDefinitionTypeName="Iphelion.Outline.Integration.InterAction.InterActionContactSearchParameterDefinition" />-->
    <connector id="OUTLOOK" name="Outlook Connector" assembly="Iphelion.Outline.Integration.Outlook.dll" typeName="Iphelion.Outline.Integration.Outlook.OutlookContactSearch" templateName="NameCompanyAndAddressTemplate" />
    <!--<connector id="OUTLOOKAB" name="Outlook Address Book" assembly="Iphelion.Outline.Integration.Outlook.dll" typeName="Iphelion.Outline.Integration.Outlook.OutlookAddressBookSearch" 
               paramDefinitionTypeName="Iphelion.Outline.Integration.Outlook.OutlookAddressBookSearchParameterDefinition" />-->
    <!--<connector id="ADERANT" assembly="Iphelion.Outline.Integration.Aderant.dll" typeName="Iphelion.Outline.Integration.Aderant.AderantContactSearch" templateName="NameCompanyAndAddressTemplate" />-->
    <!--<connector id="AD" assembly="Iphelion.Outline.Controls.dll" typeName="Iphelion.Outline.Controls.Search.ActiveDirectoryContactSearch"/>-->
    <!--<sqlConnector id="SQL" assembly="Iphelion.Outline.Controls.dll" typeName="Iphelion.Outline.Controls.Search.GenericSqlContactSearch" templateName="NameCompanyAndAddressTemplate"
                  name="Contact SQL Search" connectionStringName="ContactSearchSqlConnector"
                  queryByIdFilename="ContactSqlConnectorQuery-ById.sql" queryByNameFilename="ContactSqlConnectorQuery-ByLastName.sql"
                  title ="Contact SQL Search" description ="Search by last name"/>-->
    <!--<connector id="DYNAMICS" name="Dynamics Connector" assembly="Iphelion.Outline.Integration.Dynamics.dll" typeName="Iphelion.Outline.Integration.Dynamics.DynamicsContactSearch" templateName="NameCompanyAndAddressTemplate" />-->
    <!--<connector id="AUTHOR" assembly="Iphelion.Outline.Controls.dll" typeName="Iphelion.Outline.Controls.Search.AuthorContactSearch"/>-->
    <!--<connector id="ONEPLACE" name="OnePlace" assembly="BigHand.Outline.Integration.OnePlace.dll" typeName="BigHand.Outline.Integration.OnePlace.OnePlaceContactSearch" templateName="NameCompanyAndAddressTemplate" />-->
    <!--<connector id="AUSPOST" name="AusPost" assembly="BigHand.Outline.Integration.AusPost.dll" typeName="BigHand.Outline.Integration.AusPost.AusPostContactSearch" templateName="NameCompanyAndAddressTemplate" />-->
  </wizardConnectors>

  <!-- The contact lookup connector used in the wizards (Multiple Addressees Control)-->
  <!-- The maximum value for each connector is 200. The minimum vlaue for each connector is 1. The default value for each connector is 200. -->
	<multipleAddresseesConnectors>
		<connector id="OUTLOOK" name="Outlook Connector" assembly="Iphelion.Outline.Integration.Outlook.dll" typeName="Iphelion.Outline.Integration.Outlook.OutlookContactSearchConnector" templateName="FullNameTemplate" />
		<!--<connector id="ADERANT" assembly="Iphelion.Outline.Integration.Aderant.dll" typeName="Iphelion.Outline.Integration.Aderant.AderantContactSearchConnector" templateName="FullNameTemplate" />-->
		<!--<connector id="AD" assembly="Iphelion.Outline.Core.dll" typeName="Iphelion.Outline.Core.Connectors.ActiveDirectoryContactSearchConnector" templateName="NameAndEmailTemplate"/>-->
	    <!--<sqlConnector id="SQL" assembly="Iphelion.Outline.Controls.dll" typeName="Iphelion.Outline.Controls.Search.GenericSqlContactSearchConnector" templateName="FullNameTemplate"
                   name="Contact SQL Search" connectionStringName="ContactSearchSqlConnector"
                   queryByIdFilename="ContactSqlConnectorQuery-ById.sql" queryByNameFilename="ContactSqlConnectorQuery-ByLastNamePaged.sql"
                   title ="Contact SQL Search" description ="Search by last name"/>-->
		<!--<connector id="DYNAMICS" name="Dynamics Connector" assembly="Iphelion.Outline.Integration.Dynamics.dll" typeName="Iphelion.Outline.Integration.Dynamics.DynamicsContactSearchConnector" templateName="FullNameTemplate" />-->
		<connector id="AUTHOR" name="Author contact search" assembly="Iphelion.Outline.Controls.dll" typeName="Iphelion.Outline.Core.Connectors.AuthorContactSearchConnector" templateName="NameAndEmailTemplate"/>
		<!--<connector id="ONEPLACE" name="OnePlace" assembly="BigHand.Outline.Integration.OnePlace.dll" typeName="BigHand.Outline.Integration.OnePlace.OnePlaceContactSearchConnector" templateName="FullNameTemplate" />-->
		<!--<connector id="AZURE" name="Azure Active Directory" assembly="BigHand.Outline.Integration.Azure.dll" typeName="BigHand.Outline.Integration.Azure.AzureAdContactSearchConnector" templateName="FullNameTemplate" />-->
		<!--<connector id="INTERACTION" name="InterAction" assembly="Iphelion.Outline.Integration.InterAction.dll" typeName="Iphelion.Outline.Integration.InterAction.InterActionContactSearchConnector" templateName="FullNameTemplate" />-->
	</multipleAddresseesConnectors>



	<!-- The connector used to search matter numbers-->
  <clientSearchConnectors>
    <connector id="WORKSITE" assembly="Iphelion.Outline.Integration.WorkSite.dll" typeName="Iphelion.Outline.Integration.WorkSite.WorkSiteClientSearchConnector" />
  </clientSearchConnectors>

  <!-- The connector used to search matter numbers-->
  <matterSearchConnectors>
    <connector id="WORKSITE" assembly="Iphelion.Outline.Integration.WorkSite.dll" typeName="Iphelion.Outline.Integration.WorkSite.WorkSiteMatterSearchConnector" />
  </matterSearchConnectors>

  <fieldMappings>
    <fieldMap typeName="Iphelion.Outline.Integration.Dynamics.DynamicsContactSearchConnector">
      <idProperty name="contactid" entity="contact" />
      <fullNameProperty name="fullname" entity="contact" />
      <titleProperty name="tre_prefix" entity="contact" />
      <initialsProperty name="" entity="" />
      <firstNameProperty name="firstname" entity="contact" />
      <middleNameProperty name="middlename" entity="contact" />
      <lastNameProperty name="lastname" entity="contact" />
      <suffixProperty name="suffix" entity="contact" />
      <addressProperty name="address1_composite" entity="contact" />
      <countryProperty name="address1_country" entity="contact" />
      <employeeIdProperty name="" entity="" />
      <jobTitleProperty name="jobtitle" entity="contact" />
      <companyProperty name="name" entity="account" />
      <departmentProperty name="department" entity="contact" />
      <officeProperty name="" entity="" />
      <phoneNumberProperty name="telephone1" entity="contact" />
      <mobileNumberProperty name="mobilephone" entity="contact" />
      <faxNumberProperty name="fax" entity="contact" />
      <emailProperty name="emailaddress1" entity="contact" />
      <salutationProperty name="salutation" entity="contact" />
    </fieldMap>
  </fieldMappings>

	<onePlaceSearchConnector>
		<onePlaceSettings url="" rowsLimit="10" />
		<contactEntry viewId="">
			<query>
				<filter field="" value="" group="Id"/>
			</query>
			<map>
				<property name="account" field=""/>
				<property name="firstName" field="First Name"/>
				<property name="surname" field="Last Name"/>
				<property name="role" field=""/>
				<property name="department" field=""/>
				<property name="phoneNumber" field="Main Phone"/>
				<property name="alternativeNumber" field=""/>
				<property name="faxNumber" field=""/>
				<property name="email" field="Email"/>
				<property name="employeeId" field="EntryId"/>
				<property name="office" field=""/>
				<property name="initials" field=""/>
				<property name="title" field=""/>
				<property name="middleName" field=""/>
				<property name="company" field=""/>
				<property name="address" field="Correspondence Address"/>
				<property name="country" field=""/>
				<property name="fullName" field="Full Name"/>
				<property name="addressee" field="Addressee"/>
				<property name="salutation" field="Salutation"/>
				<property name="barRegistration" field=""/>
			</map>
		</contactEntry>
		<matterContactEntry viewId="" >
			<query>
				<filter field="" value="" group="Id"/>
			</query>
			<map>
				<property name="account" field=""/>
				<property name="firstName" field="First Name"/>
				<property name="surname" field="Last Name"/>
				<property name="role" field=""/>
				<property name="department" field=""/>
				<property name="phoneNumber" field="Main Phone"/>
				<property name="alternativeNumber" field=""/>
				<property name="faxNumber" field=""/>
				<property name="email" field="Email"/>
				<property name="employeeId" field="EntryId"/>
				<property name="office" field=""/>
				<property name="initials" field=""/>
				<property name="title" field=""/>
				<property name="middleName" field=""/>
				<property name="company" field=""/>
				<property name="address" field="Correspondence Address"/>
				<property name="country" field=""/>
				<property name="fullName" field="Full Name"/>
				<property name="addressee" field="Addressee"/>
				<property name="salutation" field="Salutation"/>
				<property name="barRegistration" field=""/>
			</map>
		</matterContactEntry>
		<lookups>
			<lookup name="Matter" viewId="">
				<query>
					<filter field="" value="" group="Id"/>
				</query>
				<map>
					<property name="EntryId" field="EntryId"/>
					<property name="MatterId" field="Matter ID"/>
				</map>
			</lookup>
		</lookups>
	</onePlaceSearchConnector>

</search>