<?xml version="1.0" encoding="utf-8"?>
<netDocuments>
	<!-- Workspace list type - allowed values recent or favourites -->
	<!-- Dialog type - allowed values custom or ndOffice -->
	<!--<connection>
			<hostName value="vault.netvoyage.com" />
			<applicationId value="AP-9S7RB1F0" />
			<applicationSecret value="uMo37HtV1t1DPBVQ4MFjLueJnKVrH0f54GVAy7i6dgH1Zadv" />
			<apiVersion value="1" />
			<passAttributesForWorkspace value="True" />
			<passAttributesForCabinet value="False" />
			<alwaysShowDialogForWorkspace value="False" />
			<alwaysShowDialogForCabinet value="True" />
			<workspaceList value="recent" />
			<dialogType value="ndOffice" />
			<forceFoldering value="False" />
			<showWorkspacesInTree value="True" />
			<showFiltersInTree value="True" />
			<titleMaxLength value="" />
			<titleInvalidChars value="" />
			<proxyType value="" />
			<proxyHost value="" />
		</connection>-->
	<!--<connection>
			<hostName value="au.netdocuments.com" />
			<applicationId value="AP-D4EDP3DE" />
			<applicationSecret value="INEgyRk1y9oPGuJYfKPqqLF6QlVbcg4ji65KL7bCtCg11Om1" />
			<apiVersion value="1" />
			<passAttributesForWorkspace value="True" />
			<passAttributesForCabinet value="False" />
			<alwaysShowDialogForWorkspace value="False" />
			<alwaysShowDialogForCabinet value="True" />
			<workspaceList value="recent" />
			<dialogType value="ndOffice" />
			<forceFoldering value="False" />
			<showWorkspacesInTree value="True" />
			<showFiltersInTree value="True" />
			<titleMaxLength value="" />
			<titleInvalidChars value="" />
			<proxyType value="" />
			<proxyHost value="" />
		</connection>-->
	<!--<connection>
			<hostName value="preview.netdocuments.com" />
			<applicationId value="AP-O559ZWYD" />
			<applicationSecret value="m6u9txDKM0iJbb1fgHnvxyopMcyxwHXlGdFFPwb46kLBidf2" />
			<apiVersion value="1" />
			<passAttributesForWorkspace value="True" />
			<passAttributesForCabinet value="False" />
			<alwaysShowDialogForWorkspace value="False" />
			<alwaysShowDialogForCabinet value="True" />
			<workspaceList value="recent" />
			<dialogType value="ndOffice" />
			<forceFoldering value="False" />
			<showWorkspacesInTree value="True" />
			<showFiltersInTree value="True" />
			<titleMaxLength value="" />
			<titleInvalidChars value="" />
			<proxyType value="" />
			<proxyHost value="" />
		</connection>-->
	<connection>
		<hostName value="eu.netdocuments.com" />
		<applicationId value="AP-40HJ3RTW" />
		<applicationSecret value="O0fh74betwCsnNnKOeYOUPYdv1DThb9EPTPudQIlLtaqGt80" />
		<apiVersion value="1" />
		<passAttributesForWorkspace value="True" />
		<passAttributesForCabinet value="False" />
		<alwaysShowDialogForWorkspace value="False" />
		<alwaysShowDialogForCabinet value="True" />
		<workspaceList value="recent" />
		<dialogType value="ndOffice" />
		<forceFoldering value="False" />
		<showWorkspacesInTree value="True" />
		<showFiltersInTree value="True" />
		<titleMaxLength value="" />
		<titleInvalidChars value="" />
		<proxyType value="" />
		<proxyHost value="" />
	</connection>
	<attributes>
		<clientAttribute value="Client" />
		<matterAttribute value="Matter" />
		<docTypeAttribute value="Doc type|File type" />
		<docSubTypeAttribute value="Doc sub type" />
		<docSubType2Attribute value="" />
		<customLookupAttribute value="" />
		<authorAttribute value="Author" />
		<typistAttribute value="" />
	</attributes>
</netDocuments>