<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="AderantContext" connectionString="Data Source=.;Initial Catalog=Aderant;Integrated Security=True;MultipleActiveResultSets=True"
    providerName="System.Data.SqlClient" />
  <add name="EliteEntities" connectionString="metadata=res://*/EliteModel.csdl|res://*/EliteModel.ssdl|res://*/EliteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Elite;Integrated Security=SSPI;multipleactiveresultsets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="PitchPoint" connectionString="Server=.;Database=pitchpoint;Integrated Security=True;Connection Timeout=30;"
    providerName="System.Data.SqlClient" />
  <add name="ContactSearchSqlConnector" connectionString="Server=.;Database=contacts;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="DynamicsConnector" connectionString="AuthType=AD;Url=http://server;" />
  <add name="UsageData" connectionString="Server=.;Database=outline;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>