<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- SetAuthorOffice:  Switch to activate/deactivate the mechanism that changes office when a new author is selected -->
  <add key="SetAuthorOffice" value="true" />
  <!-- Number of recent searches that appear on the list in the contact search screen -->
  <add key="RecentSearchLimit" value="10" />
  <!-- TemplatesPath:  Define which template loaction to use  (can be a path, %APPDIR% for Outline install directory, %WGTEMPLATEDIR% for word workgroup templates directory -->
  <!--                 or %USERTEMPLATEDIR% for Word's user template directory -->
  <add key="TemplatesPath" value="%WGTEMPLATEDIR%" />
  <add key="TemplatesStartupPath" value="" />
  <!-- SkinFile: Specify a XAML Skin to apply to all Outline forms (for custom branding/styling) -->
  <add key="SkinFile" value="" />
  <!--Required to resolve WPF issue: https://support.microsoft.com/en-us/kb/2954125 -->
  <add key="UseSetWindowPosForTopmostWindows" value="True" />
  <add key="TextListAllowedExtensions" value="txt, text" />
  <add key="ImageListAllowedExtensions" value="jpg, jpeg, jpe, png, gif, bmp, tif, tiff, wmf, emf, svg" />
  <!-- Set to inline/square/tight/through/topBottom/behind/front to set wrap type for clause bank images -->
  <add key="word:ImageWrapType" value="" />
  <!-- ActivateOutlineTab:  Activate the Outline tab when Word start and when an Outline document is created/opened -->
  <add key="ActivateOutlineTab" value="true" />
  <!-- Format of the Author's display name. The fields you can use are (in brakets): Name, Initials and Login -->
  <add key="AuthorDisplayNameFormat" value="{Name}{Initials: ($VAL$)}" />
  <add key="PitchPointMatterUri" value="http://localhost:56586/WebForms/MatterInfo.aspx?id={UniqueCode}" />
  <add key="PitchPointPitchUri" value="http://localhost:56586/WebForms/PitchInfo.aspx?id={UniqueCode}" />
  <add key="PitchPointBaseUri" value="http://localhost:56586" />
  <add key="pitchPoint:SingleSelectIgnoreParent" value="false" />
  <add key="pitchPoint:EnableAPIIntegration" value="true" />
  
  <!-- InterAction settings -->
  <add key="ApiRestBaseUri" value=""/>
  <add key="HMACKey" value=""/>
  <add key="APIPublicKeyForEncryption" value=""/>

  <!-- RibbonXmlFile:  Override the default ribbon with a custom ribbon file specified here -->
  <add key="RibbonXmlFile" value="%PROGRAMDATA%\BigHand\BigHand Document Creation\Config\CustomOutlineRibbon.xml" />
  <add key="PowerPointRibbonXmlFile" value="%PROGRAMDATA%\BigHand\BigHand Document Creation\Config\CustomOutlinePowerPointRibbon.xml" />
  <add key="ExcelRibbonXmlFile" value="%PROGRAMDATA%\BigHand\BigHand Document Creation\Config\CustomOutlineExcelRibbon.xml" />
  <!-- HelpURL:  The URL launched when the user clicks the help button on the ribbon -->
  <add key="HelpURL" value="http://www.bighand.com" />
  <!-- Optional Specific HelpURL's: URL's specific to a plugin -->
  <add key="ExcelHelpURL" value="https://www.bighand.com" />
  <add key="PowerPointHelpURL" value="https://www.bighand.com" />
  <!-- EnableTrackChangesPrintOptions:   Shows or hides the printer options related to track changes in the smart print window -->
  <add key="EnableTrackChangesPrintOptions" value="true" />
  <!-- EnableWordPrint:   Enables the ability to launch the base word print dialog from the smart print screen -->
  <add key="EnableWordPrint" value="false" />
  <!-- Default DMS control name-->
  <add key="DmsControlName" value="DMS" />
  <!-- WorkSite Word integration version - allowed values Word2007 or Word2010 -->
  <add key="WorkSiteIntegration" value="Word2010" />
  <!-- Allowed values: StartUp, StartUpApi -->
  <add key="NewDocumentApiCommandType" value="StartUp" />
  <!-- Set to true shows the backstage print instead of the print dialog -->
  <add key="UseBackstagePrint" value="false" />
  <add key="print:AutoSelectOtherPagesTray" value="true" />
  <add key="print:AutomaticSave" value="false" />
  <add key="print:ResetCopies" value="true" />
  <add key="print:UseDefaultIfNoProfiles" value="true" />
  <add key="print:SaveToDmsBeforePrint" value="false" />
	<!-- For now only available option is iManage-->
  <add key="print:SaveToDmsBeforePrint:Provider" value="iManage" />
  <!-- Set to true/false to force override - other values ignored -->
  <add key="print:OverrideMarkupValue" value="" />
  <add key="print:OverrideCommentsValue" value="" />
  <add key="print:updateWordFieldsBeforePrint" value=""/>
  <!-- Set to true/false for progress form visibility during Smart Print -->
  <add key="print:ShowProgressForm" value="true"/>
  <!-- ComparisonType: The comparison method used by 'Compare to original' and 'Compare to other' call-backs -->
  <add key="documentComparison:ComparisonType" value="Native" />
  
  <add key="Culture" value="" />
  <add key="UICulture" value="" />
  <add key="templatePicker:UsageTracker" value="" />
  <add key="templatePicker:ShowFavourites" value="true" />
  <add key="templatePicker:ShowRecent" value="true" />
  <add key="templatePicker:RecentCount" value="" />
  <add key="templatePicker:ContentFilter" value="" />
  <add key="wizard:ShowPromptAbove" value="true" />
  <add key="docId:RunCallbackSync" value="" />
  <add key="author:ShowBarRegistrations" value="true" />
  <!-- Set to All/Ribbon/Wizard to have search form show when author dialog is launched -->
  <add key="author:AutoLaunchSearch" value="" />
  <!-- Set to true/false to update wizard author from the edit dialog -->
  <add key="author:UpdateWizardToSelected" value="false" />
  <add key="clauseBank:ShowTabs" value="true"/>
  <add key="clauseBank:AddMultipleContent" value="true" />
  <add key="preview:MinimumWidth" value="400" />
  <!-- Set to true/false to enable slide reshow wizard for PowerPoint -->
  <add key="PowerPointClauseBankRelaunch" value="true" />

  <!-- PowerPoint settings -->
  <add key="PresentationPath" value="%PROGRAMDATA%\BigHand\BigHand Document Creation\Templates" />
  <add key="PresentationStartupPath" value="" />
  <add key="FileExtFilter" value="*.pot*" />

  <!-- Excel settings -->
  <add key="WorkbookPath" value="%PROGRAMDATA%\BigHand\BigHand Document Creation\Templates" />
  <add key="WorkbookFileExtFilter" value="*.xlt*" />

  <!-- Designer settings -->
  <add key="DesignerHelpURL" value="http://bighand.com" />
  <add key="DefaultEvaluatorType" value="Expression" />

  <!-- Create from existing settings -->
  <add key="cfe:CopyDocumentProperties" value="false" />
  <add key="cfe:CopyCustomXml" value="false" />

  <!-- Set to true/false to allow load of custom resource entries -->
  <add key="ResourceLocalizationEnabled" value="true" />
  <!-- File path for XML file to override system resource values -->
  <add key="ResourceXmlFile" value="" />

  <!--<add key="statistics:companyId" value="" />-->
  <add key="statistics:analyticsId" value="44ea7204-442c-4b71-bc43-b0629a74f9c0" />

  <add key="updateMacForPlugin" value="false" />
</appSettings>
