<?xml version="1.0" encoding="utf-8" ?>
<unityWorkSiteRest>
  <alias alias="ICommandAction" type="Iphelion.Outline.Model.Interfaces.ICommandAction, Iphelion.Outline.Model" />
  
  <alias alias="CheckForDmsDocumentCommand" type="Iphelion.Outline.Integration.WorkSite.Rest.Commands.CheckForDmsDocumentCommand, Iphelion.Outline.Integration.WorkSite.Rest" />
  <alias alias="EditProfileCommand" type="Iphelion.Outline.Integration.WorkSite.Rest.Commands.EditProfileCommand, Iphelion.Outline.Integration.WorkSite.Rest" />  
  <alias alias="WorkSiteInsertDmsReferenceCommand" type="Iphelion.Outline.Integration.WorkSite.Rest.Commands.InsertDmsReferenceCommand, Iphelion.Outline.Integration.WorkSite.Rest" />
  <alias alias="InsertDmsReferenceFooterCommand" type="Iphelion.Outline.Integration.WorkSite.Rest.Commands.InsertDmsReferenceFooterCommand, Iphelion.Outline.Integration.WorkSite.Rest" />
  <alias alias="OpenDocumentCommand" type="Iphelion.Outline.Integration.WorkSite.Rest.Commands.OpenDocumentCommand, Iphelion.Outline.Integration.WorkSite.Rest" />
  <alias alias="RemoveDmsReferenceCommand" type="Iphelion.Outline.Integration.WorkSite.RemoveDmsReferenceCommand, Iphelion.Outline.Integration.WorkSite" />
  <alias alias="SaveToWorkSiteCommand" type="Iphelion.Outline.Integration.WorkSite.Rest.Commands.SaveToDmsCommand, Iphelion.Outline.Integration.WorkSite.Rest" />
  <alias alias="WorkSiteStartupCommand" type="Iphelion.Outline.Integration.WorkSite.Rest.Commands.StartupCommand, Iphelion.Outline.Integration.WorkSite.Rest" />
  <alias alias="UpdateAuthorCommand" type="Iphelion.Outline.Integration.WorkSite.Rest.Commands.UpdateAuthorCommand, Iphelion.Outline.Integration.WorkSite.Rest" /> 
  <alias alias="DownloadDocumentCommand" type="Iphelion.Outline.Integration.WorkSite.Commands.DownloadDocumentCommand, Iphelion.Outline.Integration.WorkSite" />
  <alias alias="UpdateProfileFieldCommand" type="Iphelion.Outline.Integration.WorkSite.Rest.Commands.UpdateProfileFieldCommand, Iphelion.Outline.Integration.WorkSite.Rest" />
  <containers>
    <container>
      <register type="ICommandAction" mapTo="CheckForDmsDocumentCommand" name="Iphelion.Outline.Integration.WorkSite.Commands.CheckForDmsDocumentCommand|Iphelion.Outline.Integration.WorkSite" />
      <register type="ICommandAction" mapTo="EditProfileCommand" name="Iphelion.Outline.Integration.WorkSite.Commands.EditProfileCommand|Iphelion.Outline.Integration.WorkSite" />
      <register type="ICommandAction" mapTo="WorkSiteInsertDmsReferenceCommand" name="Iphelion.Outline.Integration.WorkSite.InsertDmsReferenceCommand|Iphelion.Outline.Integration.WorkSite" />
      <register type="ICommandAction" mapTo="InsertDmsReferenceFooterCommand" name="Iphelion.Outline.Integration.WorkSite.InsertDmsReferenceFooterCommand|Iphelion.Outline.Integration.WorkSite" />
      <register type="ICommandAction" mapTo="OpenDocumentCommand" name="Iphelion.Outline.Integration.WorkSite.Commands.OpenDocumentCommand|Iphelion.Outline.Integration.WorkSite" />
      <register type="ICommandAction" mapTo="RemoveDmsReferenceCommand" name="Iphelion.Outline.Integration.WorkSite.RemoveDmsReferenceCommand|Iphelion.Outline.Integration.WorkSite" />
      <register type="ICommandAction" mapTo="SaveToWorkSiteCommand" name="Iphelion.Outline.Integration.WorkSite.SaveToDmsCommand|Iphelion.Outline.Integration.WorkSite" />
      <register type="ICommandAction" mapTo="WorkSiteStartupCommand" name="Iphelion.Outline.Integration.WorkSite.StartupCommand|Iphelion.Outline.Integration.WorkSite" />
      <register type="ICommandAction" mapTo="UpdateAuthorCommand" name="Iphelion.Outline.Integration.WorkSite.UpdateAuthorCommand|Iphelion.Outline.Integration.WorkSite" />
      <register type="ICommandAction" mapTo="DownloadDocumentCommand" name="Iphelion.Outline.Integration.WorkSite.Commands.DownloadDocumentCommand|Iphelion.Outline.Integration.WorkSite" />
      <register type="ICommandAction" mapTo="UpdateProfileFieldCommand" name="Iphelion.Outline.Integration.WorkSite.Commands.UpdateProfileFieldCommand|Iphelion.Outline.Integration.WorkSite" />

      <register type="ICommandAction" mapTo="CheckForDmsDocumentCommand" name="Iphelion.Outline.Integration.WorkSite.Rest.Commands.CheckForDmsDocumentCommand|Iphelion.Outline.Integration.WorkSite.Rest" />
      <register type="ICommandAction" mapTo="EditProfileCommand" name="Iphelion.Outline.Integration.WorkSite.Rest.Commands.EditProfileCommand|Iphelion.Outline.Integration.WorkSite.Rest" />
      <register type="ICommandAction" mapTo="WorkSiteInsertDmsReferenceCommand" name="Iphelion.Outline.Integration.WorkSite.Rest.Commands.InsertDmsReferenceCommand|Iphelion.Outline.Integration.WorkSite.Rest" />
      <register type="ICommandAction" mapTo="InsertDmsReferenceFooterCommand" name="Iphelion.Outline.Integration.WorkSite.Rest.Commands.InsertDmsReferenceFooterCommand|Iphelion.Outline.Integration.WorkSite.Rest" />
      <register type="ICommandAction" mapTo="OpenDocumentCommand" name="Iphelion.Outline.Integration.WorkSite.Rest.Commands.OpenDocumentCommand|Iphelion.Outline.Integration.WorkSite.Rest" />
      <register type="ICommandAction" mapTo="SaveToWorkSiteCommand" name="Iphelion.Outline.Integration.WorkSite.Rest.Commands.SaveToDmsCommand|Iphelion.Outline.Integration.WorkSite.Rest" />
      <register type="ICommandAction" mapTo="WorkSiteStartupCommand" name="Iphelion.Outline.Integration.WorkSite.Rest.Commands.StartupCommand|Iphelion.Outline.Integration.WorkSite.Rest" />
      <register type="ICommandAction" mapTo="UpdateAuthorCommand" name="Iphelion.Outline.Integration.WorkSite.Rest.Commands.UpdateAuthorCommand|Iphelion.Outline.Integration.WorkSite.Rest" />
      <register type="ICommandAction" mapTo="UpdateProfileFieldCommand" name="Iphelion.Outline.Integration.WorkSite.Rest.Commands.UpdateProfileFieldCommand|Iphelion.Outline.Integration.WorkSite.Rest" />
    </container>
  </containers>
</unityWorkSiteRest>