<?xml version="1.0" encoding="utf-8"?>
<templateLocations>
  <locations>
    <location key="bidLibrary" name="Bid Library" path="c:\data" filter="*.*" hideThumbnail="false" width="300" thumbnailHeight="350" showFavourites="true" showRecents="true" usageTracker="SQLServer" />
    <dmsLocation key="dmsBidLibrary" provider="NetDocuments" name="DMS Bid Library" width="300" library="Documents" workspace="1001/003" folder="Correspondence" extensions="doc,docx" showFavourites="true" showRecents="true" />
  </locations>
</templateLocations>