<?xml version="1.0" encoding="utf-8"?>
<workSite>
	<settings>
		<defaultSaveDocumentType value="WORDX" />
		<defaultFileExtension value="docx" />
		<powerPointDefaultSaveDocumentType value="PPTX" />
		<powerPointDefaultFileExtension value="pptx" />
		<excelDefaultSaveDocumentType value="XLSX" />
		<excelDefaultFileExtension value="xlsx" />
		<showNewVersionProfile value="false" />
		<integrationType value="REST" />
		<authenticationType value="SERVER" />
		<clientId value="a150b9d5-8767-42a0-96ff-874c3e2600bc" />
		<extensionId value="" />
		<cookie value="" />
		<redirectUrl value="" />
	</settings>
	<fieldMappings>
		<profileField1 value="" />
		<profileField2 value="" />
		<userCustom1 value="" />
		<userCustom2 value="" />
		<userCustom3 value="" />
	</fieldMappings>
</workSite>