<?xml version="1.0" encoding="utf-8"?>
<coiConfiguration>
  <dataConfiguration directoryPath="%programdata%\BigHand\BigHand Document Creation\config\Coi" fileNameMask="OfficeData_##ISO_CODE##.xml" globalFileName="ConfigurationData.xml"/>
  <schemaConfiguration filePath="%APPDIR%\CoiSchema.xsd" validate="true"/>
  <languageConfiguration defaultIsoCode="EN"/>
  <quickFillConfiguration enabled="true" path="%APPDATA%\BigHand\BigHand Document Creation\UserSettings">
    <dataFiles>
      <dataFile name="quickFill.xml" />
    </dataFiles>
  </quickFillConfiguration>
  <tocConfiguration enabled="false" path="%programdata%\BigHand\BigHand Document Creation\config\TocSettings">
    <dataFiles>
      <dataFile name="tocData.xml" />
    </dataFiles>
  </tocConfiguration>
  <styleConfiguration enabled="false" 
					  path="%programdata%\BigHand\BigHand Document Creation\config\StyleSettings" 
					  imagePath="%programdata%\BigHand\BigHand Document Creation\config\StyleSettings\StyleImages" 
					  templatePath="%programdata%\BigHand\BigHand Document Creation\config\StyleSettings\StyleTemplates" 
					  logFile="%programdata%\BigHand\BigHand Document Creation\Logs\StyleLog.txt">
    <dataFiles>
      <dataFile name="styleData.xml" />
    </dataFiles>
  </styleConfiguration>
  <docIdConfiguration enabled="false" integrationType="WorkSite" filePath="%programdata%\BigHand\BigHand Document Creation\config\DocIdSettings\docIdData.xml" />
  <!-- printerConfiguration storageType:  Registry or Xml -->
  <printerConfiguration storageType="Xml" filePath="%programdata%\BigHand\BigHand Document Creation\config\PrinterSettings\printerConfig.xml" />
  <authorConfiguration storageType="Xml" filePath="%APPDATA%\BigHand\BigHand Document Creation\AuthorSettings\authorConfig.xml" />
  <wizardDimensionsConfiguration enabled="true" filePath="%APPDATA%\BigHand\BigHand Document Creation\config\WizardSettings\dimensions.xml" storageType="Xml" />
</coiConfiguration>